// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";

.container {
    width: 60%;
    margin: 12px auto;
}

.add-form,
.delete-done {
    margin: 7px auto;
    text-align: center;

    input {
        width: 70%;
        padding: 12px 20px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    button {
        color: white;
        padding: 11px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        background-color: #3c3d3c;
    }
}

.delete-done {
    float: right;

    button {
        background-color: #478747;
    }
}

.tasks-list {
    margin: 24px 0;
    border-top: 1px solid #555;
}

.task {
    border-bottom: 1px solid #555;
    padding: 12px 7px;

    span {
        font-size: 24px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }

    form {
        float: right;

        button {
            color: #478747;
            background-color: transparent;
            border: none;
            font-size: 24px;
            cursor: pointer;

            :hover {
                color: red;
            }
        }
    }

    .done {
        span {
            text-decoration-line: line-through;
            text-decoration-color: #cccbcb;
            text-decoration-thickness: 2px;
            color: #605f5f;
        }
    }

    .undone {
        span {
            color: #478747;
        }

        button {
            color: #47874769;
            padding: 0 2px;

            :hover {
                circle {
                    fill: #478747;
                }
            }
        }
    }
}
